<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connStr" connectionString="Data Source=.;Initial Catalog=QuickOrderSystem;User ID=sa;Password=hzf0804."/>
	</connectionStrings>
	<appSettings>
		<add key="ServiceName" value="MySelf.QOSM.IServices"/>
		<add key="IUserService" value="UserService"/>
	</appSettings>
</configuration>